body{
background:#111;
color:white;
text-align:center;
font-family:sans-serif;
}

button{
margin:5px;
padding:8px 15px;
border:none;
border-radius:6px;
background:#e74c3c;
color:white;
}

.player-box{
margin:8px;
}

.card{
width:200px;
height:300px;
margin:20px auto;
perspective:1000px;
position:relative;
transition:transform 0.6s;
transform-style:preserve-3d;
}

.card.flip{
transform:rotateY(180deg);
}

.card div{
width:100%;
height:100%;
position:absolute;
backface-visibility:hidden;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
border-radius:12px;
}

.front{background:#333}
.back{
background:linear-gradient(135deg,#ff512f,#dd2476);
transform:rotateY(180deg);
}

.card-back-img{
width:100%;
height:100%;
object-fit:cover;
border-radius:12px;
}